@media (max-width: 600px){
    
    .title h2{
        font-size: 1.5rem;
    }
    .container{
        padding: 0 9%;
    }
    
    header{
        background-image: url(../images/bg-header-mobile.png);
        align-items: center;
    }
    .logo{
       padding: 0;
    }
    .landing h1{
        font-size: 1.7rem;
    }
    .landing p{
        font-size: 0.8rem;
        
    }
    .btn{
       flex-direction: column;
    }
   .btn a{
        margin-bottom: 10px;
    }
    .out{
        flex-direction: column;
        text-align: center;
        padding-right: 0;
        padding: 0 9%;
    }
    .out .content{
        /* padding: 0 9%; */
        padding-right: 0;

    }
    .super .content{
        flex-direction: column;
        padding: 0;
    }
    .super .box{
        width: 100%;
        padding: 0 9%;
        margin-bottom: 10%;
    }
    .super .brand{
        flex-direction: column;
    }
    .super .brand img{
        margin-bottom: 30%;
    }
    .footer{
        flex-direction: column;
    }
    .footer .logo{
        margin: 30px 0;
    }
    .links{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
        display: flex;
        gap: 25px;
        margin-bottom: 25px;
    }
    .social img{
        margin-right: 25px;
    }
}